.contact{
    margin-top: 85px;
    // margin-bottom: 82px;
    .contact_main{
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            font-family: 'Nunito Sans', sans-serif;
            position: relative;
            font-weight: 700;
            font-size: 32px;
            line-height: 139%;
            text-align: center;
            letter-spacing: 0.03em;
            color: #91916C;
            margin-bottom: 76px;
            &::after{
                position: absolute;
                content: ' ';
                height: 0px;
                width: 288px;
                border: 3px solid #91916C;
                left: 0;
                top: 0;
                top: 120%;
                left: -17%;
            }
            
        }
        .contact_card{
            background-color: #91916C;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 42px;
            height: 790px;
            width: 100%;
            h1{
                font-family: 'Playfair Display', serif;
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                line-height: 139%;
                text-align: center;
                letter-spacing: 0.02em;
                color: #FFFFFF;

            }
            .contact_card_form{
                display: flex;
                align-items: center;
                gap: 62px;
                position: relative;
                #contact_img{
                    margin-top: 41px;
                    
                }
                form{
                    display: flex;
                    flex-direction: column;
                    gap: 27px;
                    div{
                        display: flex;
                        gap: 10px;
                        input{
                            padding: 15px 25px;
                            width: 299px;
                            height: 58px;
                            background-color: rgba(225, 225, 194, 0.4);
                            border-radius: 8px;
                            outline: none;
                            border: 0;
                            font-family: 'Nunito Sans';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 135.5%;
                            color: #FFFFFF;
                        }
                    }
                    input{
                        width: 608px;
                        height: 58px;
                        background-color: rgba(225, 225, 194, 0.4);
                        border-radius: 8px;
                        padding: 15px 25px;
                        outline: none;
                        border: 0;
                        font-family: 'Nunito Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 135.5%;
                        color: #FFFFFF;
                    }
                    button{
                        width: 608px;
                        height: 58px;
                        background-color: #E5A985;
                        border-radius: 8px;
                        border: 0;
                        font-family: 'Nunito Sans', sans-serif;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 135.5%;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}


@media(max-width:1155px){
    .contact{
        .contact_main{
            .contact_card{
                height: 100%;
                padding: 30px;
                .contact_card_form{
                    flex-direction: column;
                }
            }
        }
    }
}
@media(max-width: 638px){
    .contact{
        .contact_main{
            .contact_card{
                .contact_card_form{
                    form{
                        gap: 10px;
                        div{
                            flex-direction: column;
                            input{
                                width: 100%;
                            }
                        }
                        input{
                            width: 100%;
                        }
                        button{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 453px){
    .contact{
        .contact_main{
            .contact_card{
                h2{
                    font-size: 26px;
                    &::after{
                        content: ' ';
                        width: 233px;
                        
                    }
                }
                h1{
                    font-size: 38px;
                }
                .contact_card_form{
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}